@charset "UTF-8";

body {
	background-image: url("../img/moon1.jpg");
	background-repeat: no-repeat;
	text-align: center;
	line-height: 45px; /* 줄 간격 */
}

h2{
	font-family: 'Lobster', cursive;
	font-size: 155px;
	/* margin-left: 350px; */
	
}

a{
	color: white;
	text-decoration:none; /*a태그 밑줄 없애기*/
}

p{
	font-family: 'Single Day', cursive;
	color: orange;
	font-size: 35px;
	/* margin-left: 350px; */
}

[type="submit"] {
	margin-left: 350px;
	border-radius: 10px;
	width: 90px;
	height: 50px;
	border: none;
	font-size: 24px;
	font-family: 'Single Day', cursive;
	background-color: rgb(214,255,255);
	color: rgb(67,116,217);
}
[type="text"],[type="password"]{
	height: 35px; font-size: 30px
}